@font-face {
    font-family: CaveStory;
    src: url('assets/CaveStory.ttf')
}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
      /* The image used */
  background-image: url("assets/background.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%; 

  /* Defocus */
  filter: blur(8px);
}

* {
    box-sizing: border-box;
    font-family: CaveStory;
}

.box {
    background-color: rgb(0 0 0); /* Fallback color */
    background-color: rgb(0 0 0 / 40%); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 80px;
}

p {
    font-size: 35px;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }

.mewo {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 100px;
    color: #3498db;
}